<!DOCTYPE HTML>
<html>
<head>
<title>Error 404</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="errorpage.css" >
</head>


<body>
 <div class="wrap">
	<div class="logo">
		<div class="jumbotron">
			<p>Error 404</p>
			<p>Ups! - No se pudo encontrar la página solicitada</p>
			<img src="images/caritatriste.png"/>
			<div class="sub">
			  <p><a href="/main">Volver al inicio</a></p>
			</div>
		</div>
	</div>
 </div>	
</body>

<html>
<!--
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/main.css" type="text/css">
  <title>Not found</title>
</head>

<body>
  <div class="w-100 h-100" style="background-image: url('/images/latest.png');">
    <a class="btn btn-success w-25 mx-5" href="/main" style="font-size:45">Volver al inicio </a>
  </div>
</body>

</html>-->