{{#partial "contenido"}}
  
 <div class="jumbotron">
	  <h2>Metodologias</h2> 
	  <p>para crear indicadores wawawa ESTAMOS EN LA PAGINAAAAAA DE LOS RESULTADOS DE APLICAR METODOLOGIAAAS ADJAWAWAWA WA W AW AWAWAWAW ado asi al aire</p> 
	</div>
             
           
{{/partial}}


{{>layout.hbs}}