{{#partial "contenido"}}

	<div class="jumbotron">
	  <h1>Bienvenido a Consultora financiera</h1>
	</div>	

	<div>
  		<IMG SRC="/images/logo.png" class="img-fluid" alt="Responsive image">
    </div>
    
    
{{/partial}}


{{>layout.hbs}}