{{#partial "contenido"}}
  

              
 <div class="jumbotron">
	  <h2>Crear Indicadores</h2> 
	  <p>para crear indicadores wawawaw texto, tengo que irme para hacer cosas por el dia de la madre, asi que esto es un texto tirado asi al aire</p> 
	</div>
             
  
{{/partial}}

{{>layout.hbs}}