<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/main.css" type="text/css">
  <title>Not found</title>
</head>

<body>
  <div class="w-100 h-100" style="background-image: url('/images/latest.png');">
    <a class="btn btn-success w-25 mx-5" href="/main" style="font-size:45">Volver al inicio </a>
  </div>
</body>

</html>